name: Check versions

on:
  push:
    branches:
      - main
      - master
  pull_request: ~

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2.3.5
      - name: Get Python version
        id: python-version
        run: |
          echo "::set-output name=version::$(cat python/imjoy_rpc/VERSION | jq -r '.version')"
      - name: Get Javascript version
        id: js-version
        run: |
          echo "::set-output name=version::$(cat javascript/package.json | jq -r '.version')"
      - name: Compare versions
        run: |
          .github/check-versions.sh "${{ steps.python-version.outputs.version }}" "${{ steps.js-version.outputs.version }}"
